html, body { 
	margin: 0; 
	padding: 0; 
	border: 0; 
} 

body {
	background:#19191E;
	font-family: 'Roboto', serif;
	font-weight: 300;
	font-size: 32px;
	color:#5F5E6B;
    /* White */
	/*Yellow ffff00*/
	overflow:hidden;
}

h1,h2,h3,h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #5F5E6B;
}

p {
	margin: 0 auto;
	text-align: center;
	margin-top: 350px;
	margin-bottom: 42px;
	min-height: 42px;
}

canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#vidHexate {
    position: absolute;
    width: 3000px;
    visibility: hidden;
    left: 0px;
    top: 0px;
    z-index: -4;
    opacity: 0.5;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto; 
}

#pScroll {
	font-family: "Helvetica",sans-serif;
	position: relative;
	visibility: hidden;
    width:800px;
    margin-top: 0px;
    text-align: center;
    font-size: 52px;
    font-weight: 600;
    text-transform: uppercase;
    color:#fff;
}

#pWords {
	font-family: 'Vollkorn', serif;
	font-weight: 700;
	font-size: 120px;
	margin: 0 auto;
	text-transform: uppercase;
	color: transparent;
	text-shadow: 0 0 40px rgba(255,255,255,0.5);
}