html, body { 
	margin: 0; 
	padding: 0; 
	border: 0; 
} 

body {
	background:#000;
	font-family: 'Roboto', serif;
	font-weight: 300;
	font-size: 32px;
	color:#fff;
}

h1,h2,h3,h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #ECF5FF;
}

p {
	margin: 0 auto;
	text-align: center;
	margin-top: 350px;
	margin-bottom: 42px;
	min-height: 42px;
}

p:hover{
   text-shadow: 0 0 42px white; 
   color: transparent;      
   transition: all 0.9s ease; 
}